@page "/"

<PageTitle>Home</PageTitle>

<p>
        <input type="text" @bind="inputCommand" @onkeyup="@HandleKeyPress" />
</p>



@code {

    private string inputCommand = "";

    private void RunCommand()
    {
        inputCommand = "";
    }

    private void HandleKeyPress(KeyboardEventArgs keyboardEventArgs)
    {
        if (keyboardEventArgs.Code == "Enter" || keyboardEventArgs.Code == "NumpadEnter")
        {
            RunCommand();
        }
    }
}