@using RobotApp.Shared;

@page "/"

<PageTitle>Home</PageTitle>

<p>@infoMessage</p>

<input placeholder="Enter Command" @bind="newCommand" />
<button @onclick="RunCommand">Run</button>


@code {

    private List<string> commands = new();
    private string? newCommand;

    private string infoMessage = "Welcome to the Toy Robot App";

    private void RunCommand()
    {
        if (Command.ValidateCommand(newCommand))
        {
            commands.Add(newCommand);
            infoMessage = "Ran: " + commands.Last();
            newCommand = string.Empty;
        }
    }

    
}